/* General assets */

body {
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container {
    background-color: white;
    border-radius: 2em;
}

.content-container {
    display: flex;
    align-items: center;
    padding: 4%;
    /* border-radius: 2em!important; */
}

.left-content {
    flex: 1;
    margin: 20px;
}

.right-content {
    flex: 1;
    text-align: right;
}