/* General assets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
}

body {
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    background-color: white;
    border-radius: 2em;
}

.content-container {
    display: flex;
    align-items: center;
    padding: 4%;
}

/* Left Content */
.left-content {
    flex: 1;
    padding: 30px;
}

.left-content>h2 {
    margin-bottom: 30px;
}

.left-content>p,
.left-content>ul>li {
    margin-bottom: 10px;
}

.email-section>p {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Right Content */
.right-content {
    flex: 1;
    text-align: right;
}

/* Typography */
h2 {
    font-size: 56px;
    margin: 0;
    padding: 0;
}

/* Newsletter Form */
.newsletter-form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    margin-bottom: 28px;
    padding: 16px;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
}

/* Bullet List */
.bullet-list {
    padding-left: 20px;
    list-style-image: url("/assets/images/icon-list.svg");
}

/* Subscribe Button */
.subscribe-btn {
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

/* Dismiss Button */
#dismissButton {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dismissButton:hover {
    background-color: hsl(4, 100%, 67%);
}

/* Warning Message */
#warningMessage {
    color: red;
    display: none;
}